.hero_nav-wrapper  {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 1.75em;
  margin: 0 auto;
  width: 100%;
  padding: 1em 0;
  z-index: 1;
}
// Class added to nav wrapper on scroll
.hero_nav-wrapper-scrolled {
  background-color: #1a1a1a;
  transition: .2s ease-in-out;
  z-index: 99;
  .hero_nav-logo {
    filter: invert(100%);
  }
  .hero_nav-main ul li a {
    color: $bg-main;
  }
  .dropdown {
    background-color: #1a1a1a !important;
  }
  .divider-skew {
    background-color: $bg-main !important;
  }
  .nav-user, .user-link, .fas {
    color: $bg-main !important;
  }
}

.hero_nav-container {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

// Styling for contents of .hero_nav-container, including logo, primary page navigation and user links
.hero_nav-logo, .hero_nav-main, .nav-user {
  opacity: 0;
  transition: color 0.3s;
}

// Top content, logo and primary navigation, including dropdown menu and user sign in or register links
.hero_nav-logo {
  position: absolute;
  left: -2.5em;
  top: -0.25em;
  width: 10em;
  display: inline-block;
}
.hero_nav-main {
  position: absolute;
  right: 0;
  top: -1em;
  display: inline;
  font-weight: 500;
  ul {
    display: inline-block;
  }
  ul li {
    display: inline;
    padding: 0 0.5em;
  }
  ul li a {
    text-decoration: none;
    color: $font-dark;
    font-size: 0.9rem;
    padding: 0 0.25em;
    letter-spacing: .5px;
    @include textUnderline();
  }
  .dropdown-container {
    position: relative;
    margin: 0 2em;
    .dropdown-anchor {
      background: none;
    }
    &:hover .dropdown {
      visibility: visible;
    }
    .dropdown {
      visibility: hidden;
      position: absolute;
      right: 0;
      padding: 0 1.5em;
      background-color: $bg-main;
      li a {
        display: block;
      }
    }
  }
  .nav-user {
    opacity: 0;
    display: inline;
    padding: 0 1.5em;
    .user-link {
      text-decoration: none;
      color: $font-dark;
      font-weight: 500;
      font-weight: 0.8em;
      letter-spacing: 1px;
      @include textUnderline();
    }
    .divider-skew {
      display: inline-block;
      width: 1px;
      height: 14px;
      margin: 0 0.8em;
      background-color: $font-dark;
      transform: rotate(25deg);
    }
    .fas {
      margin: 0 .75em;
    }
  }
}

// Left side content, social icons
.hero_social-icons {
  opacity: 0;
  position: absolute;
  bottom: 20%;
  left: -1em;
  z-index: 1;
  font-size: 1.2em;
  line-height: 2;
  letter-spacing: 1px;
  ul {
    list-style: none;
  }
  ul li a {
    text-decoration: none;
    color: $font-dark;
    text-transform: uppercase;
    letter-spacing: 2px;
    &:hover {
      color: $font-light;
      transition: color 0.3s;
    }
  }
  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -70px;
    left: 47px;
    width: 1px;
    height: 80px;
    background-color: $font-dark;
    opacity: 0.2;
  }
}



// Media queries
@media (max-width: 1170px) {

}