.card_cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  //@include imageBlur();
}
.card-logo {
  position: relative;
  top: 17.5em;
  width: 15em;
  @include nonSelectable();
  filter: drop-shadow(0 0 0.75em black);
}
.card-button {
  button {
    position: relative;
    bottom: -18em;
    display: inline-block;
    margin: 1.5em 0;
    padding: 1.25em 2em;
    background: $bg-main;
    a {
      text-decoration: none;
      color: $font-dark;
    }
    
    font-weight: 800;
    text-transform: uppercase;
      
    cursor: pointer;
    outline: none;
    border: 0;
    transition: all 0.5s cubic-bezier(0.65, -0.25, 0.25, 0.95);
    &:hover, &:focus, &:active {
      letter-spacing: 0.125em;
    }
  }
}
.card_bottom-gradient {
  position: absolute;
  width: 100%;
  height: 100%;

  z-index: 1;
  background: linear-gradient(154deg, rgba(34,14,15,0) 17%, rgba(0, 0, 0, 0.616) 53%);
  
  box-shadow: 0 0 200px rgba(0, 0, 0, 0.568) inset;
}
  .sl--content-container {
    position: absolute;
    background-color: $bg-main;
  }
  .sl--content-container h2 {
    text-transform: uppercase;
  }


  @media only screen and (min-width: 320px) {
  .sl--content-wrapper {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);

    -webkit-transition: width 250ms, height 250ms;
    transition: width 250ms, height 250ms;

    //overflow: hidden;

   
  }
  .sl--content-wrapper-inactive {
    width: 101%;
    height: 100%;
  }
  .sl--content-wrapper-active {
    width: 101%;
    height: 100%;
  }
  .sl--content-container {
    width: 100%;
    height: auto;
    padding: 0 16px;

    z-index: 1;
  }



  .sl--card-nav-container {
    position: absolute;
    width: 100%;
    height: 70px;
    z-index: 1;
    bottom: 0;
    /*background-color: #ffffff;*/
    background-image: linear-gradient(0deg, #f5f5f5, hsla(37, 87%, 97%, 0));
  }
  .sl--content-btn {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 37px;
    height: 37px;
    cursor: pointer;
    z-index: 1;
  }
  .content-hide-btn {
    transform: scale(0, 0);
  }
}

  
@media only screen and (min-width: 414px) {
   
    .sl-card-wrapper,
    .sl--content-wrapper-inactive {
      height: 650px;
    }
    .sl--card-hide {
      height: 740px;
      transform: translate(0, 495px);
    }
  }
