.game-cards_content-wrapper {
  position: relative;
  text-align: center; // centering logo, for now
}




.swiper-slide {
  margin-right: 10em;
  cursor: pointer;
}
.swiper-slide-prev .slide-cover, .swiper-slide-next .slide-cover, .slide-cover {
  background-color: $bg-main;
  height: 100%;
  width: 25em;
  position: absolute;
  top: 0;
  z-index: 2;
  opacity: 0.2;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
  visibility: visible;
}
.swiper-slide-active .slide-cover {
  position: absolute;

  opacity: 0;
  -webkit-transition: visibility 0s 0.5s, opacity 300ms;
  transition: visibility 0s 0.5s, opacity 300ms;
  
  height: 100%;
  width: 25em;
  background-color: $bg-main;
  z-index: 2;
  visibility: hidden;
  
}



  




.sl-img-2 {
  background-image: url("../../../img/game-cards/cards/outerworlds-hero.png");
}
.sl-img-3 {
  background-image: url("../../../img/game-cards/cards/outerworlds-hero.png");
}











  @media only screen and (min-width: 320px) {


    .game-cards_swiper-container {
      width: 95%;
      height: 100%;
    }
    
    .sl-card-wrapper {
      position: relative;
      height: 540px;
      overflow: hidden;
    }








  @media only screen and (min-width: 375px) {
    /* 375 */
    /*-------------------------------------------------------*/
    /* Card Bkg Img: 375
      /*-------------------------------------------------------*/
  

    /*-------------------------------------------------------*/
    /* Card Content: 375
      /*-------------------------------------------------------*/
  
    .sl-card-wrapper, .sl--content-wrapper-inactive {
      height: 600px;
    }
    .sl--content-wrapper-inactive {
      width: 91%;
    }
    .sl--content-container {
      height: 372px;
    }
    .sl--card-reveal {
      height: 100%;
      width: 100%;
    }
    .sl--card-hide {
      transform: translate(0, 465px);
      height: 667px;
    }
    /*@-moz-document url-prefix() {
          .sl--card-hide {
              color: red;
              transform: translate(0, 265px);
              border: red 5px solid;
          }
          
      }*/
  }



 

  @media only screen and (min-width: 768px) {

    .games-container {
      width: 768px;
      margin: 0 auto;
    }

    .game-cards_swiper-container {
      width: 690px;
    }

    .sl-card-wrapper {
      width: 400px;
      height: 540px;
      box-shadow: 5px 5px 15px 5px #00000088;
      
      
    }
    .sl--content-wrapper-inactive {
      width: 290px;
      height: 100%;
    }
    .sl--content-wrapper-active {
      width: 101%;
    }
    .sl--card-hide {
      transform: translate(0, 375px);
    }

  }

  


  @media only screen and (min-width: 1024px) {
    .games-container {
      width: 1024px;
    }

    .game-cards_content-wrapper {
      height: 540px;
      width: 522px;
      display: inline-block;
    }
  
    .game-cards_swiper-container {
      position: absolute;
      left: -25.5%;

      //top: 50%;
      //transform: translate(0, -50%);


      width: 505px;
      height: 540px;
    }


    
  }
 


  @media only screen and (min-width: 1440px) {

    .games-container {
      width: 100%;
    }
    .game-cards_content-wrapper,
    .game-cards_swiper-container {
      width: 80%;
    }
  }
}