.footer_bottom-wrapper {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
    padding: 2em 0;
    background-color: $bg-alt;
}
.bottom_social-icons {
    li {
        display: inline-block;
    }
    a {
        font-size: 2rem;
        color: $font-grey-dark;
        text-decoration: none;
        padding: 0 .5em;
        &:hover {
            color: $font-grey-light
        }
    }
}
.bottom_legal-notes {
    li {
        display: inline;
        padding: 0 1em;
    }
    a {
        color: $font-light;
        font-size: 0.75em;
        font-weight: 400;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-decoration: none;
        text-shadow: 5px 5px 25px #220e0f;
        &:hover {
            color: $font-light-alt;
        }
    }
}
.bottom_logos {
    display: inline-block;
    img {
        margin: 0 2em;
    }
    img:first-child {
        width: 10em;
    }
    img:nth-child(3) {
        width: 10em;
    }
    img:nth-child(2) {
        width: 30em;
    }
}
.bottom_copyrights {
    text-align: center;
    span {
        display: block;
        font-size: .5em;
        font-weight: 400;
        letter-spacing: 1px;
        margin: .7em 0;
    }
}