.footer_contact-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 6em;
}
.contact-container {
    position: relative;
    height: 26em; 
    .contact-form {
        margin: 1em 0;
        &:after {
            content: "";
            display: table;
            clear: both;
        }
    }
    .form-column {
        float: left;
        box-sizing: border-box;
        &.mid-width {
            width: 47.5%; 
        }
        &.full-width {
            width: 100%;
        }
        &.name-input {
            margin-right: 2.5%;
        }
        &.mail-input {
            margin-left: 2.5%;
        }
    }
    .form-field {
        position: relative;
        margin: 1em 0;
    }
    .input-text {
        display: block;
        width: 100%;
        background-color: $bg-main;
        border: 1px solid $font-light;
        padding: 1em; 
        &.w-normal {
            height: 2.5em;
        }
        &.w-higher {
            padding-bottom: 7.5em;
        }
        &:focus {
            outline: none;
        }
        &:focus,
        &.not-empty {
            border: 1px solid $font-light;
            + .label {
                color: $bg-main;
                z-index: -99;
            }
        }
    }
    .label {
        position: absolute;
        font-size: 0.9rem;
        left: 20px;
        color: $font-dark;
        cursor: text;
        &.name-mail-label {
            bottom: 0.7em;
        }
        &.message-label {
            top: 1em;
        }
    }
    .form-send-btn {
        padding: 1em 3em;
        background: $font-light;
        color: $bg-main;
        font-weight: 800;
        text-transform: uppercase;
        text-decoration: none;
        cursor: pointer;
        outline: none;
        border: 0;
        transition: all 0.5s cubic-bezier(0.65, -0.25, 0.25, 0.95);
        &:hover, &:focus, &:active {
            letter-spacing: 2px;
        }
    }
}
.twitter-container {
    height: 26em;
}
.footer_twitter-feed {
    margin: 1em 0;
}
