.exlore-wrapper {
    position: relative;
    padding: 2em;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: $bg-alt;
}
// Styling for .explore_news-container
@import "../modules/explore/news-container";
// Styling for .explore_jobs-container
@import "../modules/explore/jobs-sidebar";

@media only screen and (max-width: 1260px) {
    .exlore-wrapper {
        flex-direction: column;
        flex-wrap: wrap;
    }
}