.footer-wrapper {
    position: relative;
    height: 100vh;
    padding: 3em 6em;
}
.footer-element-heading {
    color: $font-light;
    font-weight: 700;
    font-size: 1.25em;
    letter-spacing: 1px;
    text-transform: uppercase;
}

@import "../modules/footer/contact";
@import "../modules/footer/bottom-bar";