$bg-main: #ffffff;
$bg-alt: #f2f1f3;

$font-light: #511e97;
$font-light-alt: #765d99;
$font-dark: #1c102d;

$font-grey-light: #686868;
$font-grey-dark: #252525;

$text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);